modules = ["python-3.12", "web", "nodejs-20", "c-clang14"]
run = "python manage.py runserver 0.0.0.0:3000 --insecure "

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
run = ["sh", "-c", "python manage.py runserver 0.0.0.0:3000 --insecure"]

[workflows]
runButton = "Run Django"

[[workflows.workflow]]
name = "Run Django"
author = 40602169
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd task_reminder && python manage.py runserver 0.0.0.0:3000 --insecure "
